@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@font-face {
    font-family: nav;
    src: url("../fonts/Flaticon.woff")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;

    background-color: #fff;
    font-size: 16px;
}

/* navbar */

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 0.9;
    filter: brightness(30%);
}

.navbar-light {
    background-color: rgba(250, 250, 250, 0.15) !important;

    padding: 0 60px 0 60px;
}

.hover:hover {
    color: orange !important;

}

.wel-m {
    margin: 200px 0 200px 0;
}

/* navbar ends here */
/* welcome education */
.welcome-btn {
    border-radius: 60px;
}

/* welcome education  ends*/
/* Upcomming starts */
.Upcomming {
    background-image: url("../images/meetings-page-bg.jpg");

}

.btn-outline-danger {
    border-radius: 20px;
}

.card-edit {
    line-height: 40px;
}

.rounded {
    border-radius: 30px !important;
}

.rounded-top {

    border-radius: 30px 30px 0 0 !important;
}


/* applly broche */


.apply {
    background-image: url("../images/apply-bg.jpg");
}

.apply-bg {
    background-color: rgba(250, 250, 250, 0.15) !important;
}

.apply-btn {
    padding: 15px 50px 15px 50px;
    border-radius: 30px;
}

.box {
    background-color: rgba(250, 250, 250, 0.15) !important;
}

.item3 {
    background-color: white;

}

.bold {
    font-weight: bolder;
}

.accordion-head {
    font-weight: bolder;
    font-size: large;
}

.accordion-button:not(.collapsed) {
    color: #f5a425;
    background-color: var(--bs-accordion-active-bg);

}


/* courses */
.courses {
    background-image: url("../images/meetings-page-bg.jpg");

}

/* crosuel */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

*,
*:before,
*:after {
    box-sizing: border-box;
}

.courseCrosuel {
    height: 100vh;
}

.slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
    left: -300%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__image {
    font-size: 2.7rem;
    color: #2196F3;
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }

    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }

    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

/* crousel ends here */



.courses-img {
    width: 35rem;
    height: 25rem;
}

/* course ends here */


/* facts start */
.facts {
    background-image: url("../images/facts-bg.jpg");

}

.fact-box {
    background-color: rgba(250, 250, 250, 0.15) !important;


}


.facts-img {
    position: relative;
    background-image: url("../images/video-item-bg.jpg");

}

.facts-img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellow {
    color: #f5a425;
}

/* contact starts */
.contact {
    background-image: url("../images/meetings-page-bg.jpg");
}

.border {
    background-color: #fff;

}

.right-box {
    background-color: #a12c2f;

}